<form ng-submit="save()">
    <h3>{{headingTitle}}</h3>
    <div class="block">
        <label>Date: </label>
    </div>
    <div class="block">
        <md-content>
            <md-datepicker
                    ng-model="myDate"
                    md-placeholder="Enter date">
            </md-datepicker>
        </md-content>
    </div>

    <!--
           <h4>Date-picker with validation mesages</h4>
           <form name="myForm">
               <md-datepicker
                       name="dateField"
                       ng-model="myDate"
                       md-placeholder="Enter date"
                       required
                       md-min-date="minDate"
                       md-max-date="maxDate"
                       md-date-filter="onlyWeekendsPredicate"></md-datepicker>
               <div class="validation-messages" ng-messages="myForm.dateField.$error">
                   <div ng-message="valid">The entered value is not a date!</div>
                   <div ng-message="required">This date is required!</div>
                   <div ng-message="mindate">Date is too early!</div>
                   <div ng-message="maxdate">Date is too late!</div>
                   <div ng-message="filtered">Only weekends are allowed!</div>
               </div>
           </form>
           -->
    <div class="block">
        <label>Time: </label>
    </div>
    <div class="block">
        <select ng-model="selectedHour" ng-options="h.value for h in hours"></select>&nbsp;
        <select ng-model="selectedMinute" ng-options="m.value for m in minutes"></select>
    </div>
    <div class="block">
        <label>Value: </label>
    </div>
    <div class="block">
        <input type="number" step="0.1" value="5.0" placeholder="Enter glucose level" />
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />&nbsp;
    <input type="button" class="btn" value="Cancel" ng-click="cancel()"/>
</form>
