<form ng-submit="login()">
    <div>&nbsp;</div>
    <h2>Login</h2>
    <div class="block">
        <input required type="text" placeholder="username" ng-model="username">
    </div>
    <div class="block">
        <input required type="password" placeholder="password" ng-model="password">
    </div>
    <div class="block">
        <input type="submit" class="btn btn-primary" value="Login" />
    </div>
    <div ng-show="errorMessage !== ''">
        <div>{{errorMessage}}</div>
    </div>
</form>
