<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <em ng-show="entries.length == 0">No entries found</em>
        <table ng-hide="entries.length == 0"
               class="table table-striped override-bootstrap">

            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tr ng-repeat="entry in entries">
                <td>{{entry.name}}</td>
                <td>{{entry.description}}</td>
            </tr>
        </table>
    </div>
</div>
