<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My glucose measurements</title>
    <link ref="stylesheet" th:href="@{/styles.css}"></link>
</head>
<body>

    <em ng-show="entries.length == 0">No entries found</em>
    <table ng-hide="entries.length == 0"
           class="table table-striped override-bootstrap">

        <thead>
            <tr>
                <th>Value</th>
            </tr>
        </thead>
        <tr ng-repeat="entry in entries">
            <td>{{entry.value}}</td>
        </tr>
    </table>
<hr/>

<h3>Add a glucose measurement</h3>
</body>
</html>